.side_bar {
    background-color: #f5f6fa;
    opacity: 0.4;
    background-image: radial-gradient(#3d3d3d 0.5px, #f5f6fa 0.5px);
    background-size: 10px 10px;
}

th, td {
    min-width: 20px !important;
}

table.center_table td {
    text-align: center;
}

.main-content h4 {
    font-weight: 800;
}

p.image_container,
.main-content h3 + p.image_container,
p.image_container_full,
.main-content h3 + p.image_container_full {
    text-align: center;
    margin-top: 10px !important;
}

p.image_container img {
    max-width: 60%;
}

img.half_width {
    max-width: 60%;
}

img.full_width {
    width: 100%;
}

.main-content a {
    white-space: normal;
}

.main-content h1,
.main-content h2,
.main-content h3 {
    font-weight: bold;
}

.main-content h4,
.main-content h5,
.main-content h6 {
    margin-top: 2.0em;
}

.search-input {
    color: #e6e1e8;
}

.label {
    vertical-align: bottom;
    margin-left: 0;
}

.label-black {
    color: #ffffff;
    background-color: black;
}

.nav-list .nav-list-item .nav-list-link.active {
    font-weight: normal;
    background-image: linear-gradient(90deg,
        rgba(68, 67, 77, 0) 0%,
        rgba(68, 67, 77, 0.8) 60%,
        rgba(68, 67, 77, 1.0) 100%);
}

.lanecover {
    float: left;
    margin: 8px 2px;
    width: 160px;
    text-align: center;
}

.lanecover_label {
    font-size: 10px;
    margin: 0 16px;
    height: 32px;
    text-align: center;
}

.lanecover_img {
    padding: 0;
    margin: 0;
}